body{background-color: rgb(255, 255, 255) ; 
    font-family: "Pacifico", cursive;margin:0; padding:0}

header{display:flex;
    background-color: rgb(253, 142, 142) ;
    align-items:center;
    justify-content:space-between;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
  }
 
 header a i{color:rgb(255, 255, 255);
     font-size:3em ;
      padding: 0.5;
     margin-left: 20px;}
 
 header nav ul{display:flex;
    gap:1.1em;
    color:rgb(253, 253, 253);
    font-size: 25px;
    margin-right: 20px;}

   ol,ul{list-style: none}

   a{text-decoration: none;}

   footer{background-color: rgb(236, 148, 148);
    display:flex;
    align-items:center;
    flex-direction: column;}

    .titulo_seccion {
        margin-top: 3em;
        font-size: 40px;
        color: #000000;
        text-align: center;
        ;
        }
        .container {
            background-color:rgb(255, 255, 255);
        max-width: 50%; /* Define el ancho máximo del contenedor */
        margin: 0 auto; /* Centra el contenedor horizontalmente */
        padding:1em; /* Agrega un poco de espacio alrededor del formulario */
        border:2px solid rgb(214, 197, 197) ; /* Agrega un borde al contenedor */
        border-radius: 30px; /* Agrega bordes redondeados al contenedor */
        font-size: 20px;
        text-align: center
        ;

        }
        .form-group {
        margin-bottom: 15px; /* Espacio entre cada input */
        }
        label {
        margin-bottom: 5px;
        }
        input[type="text"],
        input[type="email"],
        textarea {
        width: 20em; /* Define el ancho máximo del input */
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        ;
        }
        textarea {
        resize: vertical; /* Permite redimensionar verticalmente el textarea */
        }
        button {color:rgb(255, 255, 255);
             font-size: 20px;
             background-color:rgb(83, 83, 202) ;
             width: 5em;
             border-radius: 5px; 
             ;}
        
        button:hover {background-color: rgb(72, 81, 107); }
    
        /*menu de hamburguesa :D */

#check{
    /*hace que el boton de tilde se vaya*/
    display: none;}
  
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height:70px;
    margin-right: 40px;
    /*para que aparezca una manito en la barra*/
    cursor: pointer;
    /*hace que no aparezca cuando el menu esta grande*/
    display:none
  }
  
  /* Estilos para pantallas más pequeñas (hasta 768px) */
  /* mobile */
  @media (max-width: 768px) {
    header{
      position: fixed;
      top: 0%;
      left: 0%;
      width: 100%;
  
    }
    header nav ul{font-size: 15px}
    
  
  /*para el menu*/ 
   .checkbtn{display:block}
  
   #encabezado ul{
     position: fixed;
     width: 100%;
     height: 100vh;
     background-color:rgba(180, 88, 88, 0.842);
     text-align: center;
  
  
     top: 59px;
     left: 100%;
     transition: all 0.5s;}
  
   #check:checked~ul{
     display: block;
     left: 0%;}
  
   #encabezado nav ul li{
     display: block;
     margin:50px 0;
     line-height: 30px;}
  
   #encabezado nav ul li a{
     font-size: 25px;
   } 
  }
      